@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    604 Rose<br />
    Somewhere in the East<br />
    <abbr title="Phone">P:</abbr>
    555-555-1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@trilixium.com">Support@trilixium.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@trilixium.com">Marketing@trilixium.com</a>
</address>