@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>BibleApp</h2>
    
    <p class="lead">This App is a personal biblical reference application </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Select an option:</h3>
        <p>
        </p>
        <p><a class="btn btn-default" href="/verses/create">Create a Verse &raquo;</a>
        <a class="btn btn-default" href="/verses/search">Search for a Verse &raquo;</a></p>
    </div>
</div>